img[alt] {
  border-radius: 50%;
}

input[type="radio"] {
  margin: 25px;
}

input[type="checkbox"] {
  margin: 8px;
}

a[href="https://www.freecodecamp.org/espanol/"] {
  color:green;
  text-decoration: none;
  font-weight: bold;
}