div {
    background-color: rgb(0, 255, 255);
}

h2 {
color: rgb(255, 0, 0);
}

img {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 255, 0);
} 

a {
    color: rgba(255,0,80,0.3);
}