#contenedor-principal {
  color:white;
  padding: 5px;
  font-size: 25px;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

.px {
  background-color: crimson;
  width: 200px;  
}

.vw {
  background-color: darkmagenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
  font-size: 5em;
}